@font-face {
    font-family: 'Here Lies MECC';
    src: url('/fonts/mecc-webfont.eot');
    src: url('/fonts/mecc-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mecc-webfont.woff2') format('woff2'),
         url('/fonts/mecc-webfont.woff') format('woff'),
         url('/fonts/mecc-webfont.ttf') format('truetype'),
         url('/fonts/mecc-webfont.svg#Here Lies MECC') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: black;
	text-align: center;
}

canvas {
	background: black;	
	min-width: 640px;
	min-height: 400px;
	height: 100%;	
}

canvas.dontBlurPixelsWhenScaling {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}