html, body {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

canvas {
	background: black;	
	height: 400px;
	width: 640px;
}

canvas.dontBlurPixelsWhenScaling {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}